<div>
  <hr />
  <div class="center">
      <h2><%= @movie.title %></h2>
  </div>
  <div class="center">
    <%= link_to image_tag(@movie.image_url), movie_path(@movie) %>
  </div>
  <div class="center-text">
    <h4>Description</h4>
    <p><%= @movie.description %></p>
  </div>
  <div class="center">
      <% if @movie.source == "[]" || !@movie.source.present? %>
        <h3>Sign up for an email for when this movie is available to stream!</h3>
        <% if current_user %>
          <button class="btn">Email Me!</button>
        <% else %>
          <h5>Sign In Now!</h5>
        <% end %>
      <% else %>
        <h3>This movie available to stream on</h3>
            <% if @movie.source.include?('netflix') %>
                <%= link_to image_tag("netflix.png", class: 'pic') %>
            <% end %>
            <% if @movie.source.include?('amazon') %>
                <%= link_to image_tag("amazon.png", class: 'pic') %>
            <% end %>
            <% if @movie.source.include?('hbo')%>
                <%= link_to image_tag("hbo.png", class: 'pic') %>
            <% end %>
            <% if @movie.source.include?('hulu') %>
                <%= link_to image_tag("hulu.png", class: 'pic') %>
            <% end %>
          <% end %>
    </div>
  </div>

</div>
